<ion-view hide-back-button="true" title="LeaderBoard">
	<ion-nav-buttons side="left">
	    <button class="icon-left ion-ios7-arrow-back button button-clear" ui-sref="main">
	        Game
	    </button>
  	</ion-nav-buttons>
  	<ion-content padding="true">
  		<ul class="list">
		    <li class="item" ng-repeat="user in users| orderBy:points">
		    	<div><span style="font-size:18px;">{{user.fullname}}</span>
		    		<div style="float:right"> 
		    		totalPoints: {{user.points}} games: {{user.games}}
		    		</div>
		    	</div>
		    </li>
		</ul>
	</ion-content>
</ion-view>